.chart {
  flex: 4;
  box-shadow: -5px 5px 8px -4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -5px 5px 8px -4px rgba(0, 0, 0, 0.2);
  padding: 10px;

  .title {
    margin-bottom: 20px;
    font-size: 18px;
    color: gray;
    font-weight: 500;
  }

  .chartGrid {
    stroke: rgba(228, 225, 225);
  }
}
