.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      gap: 20px;
      padding-inline: 10px;
    }

    .charts {
      padding: 20px 10px;
    }

    .listContainer {
      box-shadow: -5px 5px 8px -4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: -5px 5px 8px -4px rgba(0, 0, 0, 0.2);
      padding: 20px 10px;
      margin: 20px 10px;

      .listTitle {
        font-weight: 500;
        font-size: 18px;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
