.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  height: 100vh;
  background-color: white;

  .sidebar__top {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(231, 228, 228);

    .logo {
      font-size: 2rem;
      font-weight: 700;
      color: #6439ff;
    }
  }

  .sidebar__center {
    padding-left: 1rem;
    ul {
      list-style: none;

      .title {
        font-size: 0.9rem;
        font-weight: 700;
        color: #999;
        margin: 15px 0;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 10px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }
        .icon {
          font-size: 1.2rem;
          color: #7451f8;
        }

        span {
          font-size: 1rem;
          font-weight: 500;
          color: #888;
        }
      }
    }
  }

  .sidebar__bottom {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin: 20px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 21px;
      border: 1px solid #7451f8;
      cursor: pointer;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
